node_modules
.next
.git
.gitignore
.env
.env.local
.env.*
npm-debug.log
*.log
Dockerfile*
docker-compose*
coverage
.nyc_output
test
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
.eslintcache
.vscode
.idea
*.md
!README.md
api-mock
